*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.about{
  display: flex;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about .content img{
  height: auto;
  width: 600px;
  max-width: 100%;
}

.text{
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.content{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.text h1{
  color: rgb(241, 78, 78);
  font-size: 75px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.text p{
  color: rgb(255, 136, 0);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}


@media screen and (max-width: 1180px) {
  .about{
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}

@media screen and (max-width: 650px) {
  .about .content img{
    margin-bottom: 35px;
  }

  .text h1{
    font-size: 60px;
    margin-bottom: 25px;
  }
}